body{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/*Global css*/

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;

}
.buttons{
  height:38px;
  background:#804000;
  border:0;
  border-radius: 2px;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;

}
/*Header*/

header{
	background: #663300;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px;
}

header a{
	color: #ffffff;
	text-decoration-color: none;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #web-brand{
	float: left;
}

header #web-brand h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}
/*header .highlight{
	color: #006666;
	font-weight: bold;
}*/

header a:hover{
	color: #cccccc;
	font-weight: bold;
}
header img{
	width: 10%;
    height: 40px;
}
#showcase{
	min-height: 250px;
	background: url('../image/backimage.png') no-repeat 0 -300px;
	text-align: center;
	color: black;

}

#showcase h1{
	margin-top: 100px
	font-size: 55px;
	margin-bottom: 10px;

}

#showcase p{
	font-size: 20px;
}
#block {
	padding-top: 10px;
	
}
#block ul{
	list-style: none;
    background: #663300;
}
#block ul li{
	display: inline;
	
	padding-right: 5px;

}
#quote{
	font-size: 50px;
	color: #ffffff;

}
#quote a{
	color: #ffffff;
	text-decoration-color: none;
	font-size: 50px;
}
#quote a:hover{
	
	font-weight: bold;
}

#show{
	float: left;
}

#display{
	padding: 20px;
}
 #display table {
  padding: 10px 15px;
  float: left;
  border: 0;
  width: 30%;
  font-size: 20px;
  text-align: center;
  
}
#display select{
	width: 100%;
	border: 0;
	background-color: #f2f2f2;
}
#display img{
	width: 10%;
    height: 20px;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #663300;
	position: fixed;
	width: 100%;
    
}

aside#sidebar{
  float:left;
  width:30%;
  margin-top:10px;

}
/*Login Form Styling*/
#login-style{
	background-color: #f3e5d8;
	padding-top: 50px;
	padding-left: 20px;
	padding-bottom: 40px;

}
#login-style label{
 display: block;
 padding-bottom: 20px;
}
#login-style input{
   padding-left: 10px;
   border-radius: 2px;
   width: 40%;
   font-size: 20px;
   border: 1px;
   height: 40px;
}

#login-style button{
   padding-left: 10px;
   border-radius: 2px;
   width: 30%;
   font-size: 20px;
   border: 1px;
   height: 40px;
}
/*Sign Up Styling*/
#signup-style{
	background-color: #f3e5d8;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 40px;

}
#signup-style label{
 display: block;
 padding-bottom: 20px;
}
#signup-style input{
   padding-left: 10px;
   border-radius: 2px;
   width: 40%;
   font-size: 20px;
   border: 1px;
   height: 40px;
}

#signup-style button{
   padding-left: 10px;
   border-radius: 2px;
   width: 30%;
   font-size: 20px;
   border: 1px;
   height: 40px;
}