#showcase2{

}
#display2 table {
    padding: 10px 15px;
    float: left;
    border: 0;
    width: 30%;
    font-size: 20px;
    text-align: center;
    display: inline;
    
  }
  .container1{
	width: 90%;
	margin: auto;
    overflow: hidden;
    float: left;
    padding-left: 500px;
}