/*Sign Up Styling*/
#signup-style{
	background-color: #f3e5d8;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: -60px;

}
#signup-style label{
 display: block;
 padding-bottom: 20px;
 text-align: center;
}
#signup-style input{
   padding-left: 10px;
   border-radius: 2px;
   width: 40%;
   font-size: 20px;
   border: 1px;
   height: 40px;
}

#signup-style button{
   padding-left: 10px;
   border-radius: 2px;
   width: 20%;
   font-size: 20px;
   border: 1px;
   height: 40px;
   
}
#signup-style a{
	padding-left: 550px;
	float: left;
	
}

#showcase1 {
	min-height: 250px;
	background: url('../image/backimage.png') no-repeat 0 -350px;
	text-align: center;
	color: black;

}

#showcase1 h1{
	margin-top: 80px;
	font-size: 45px;
	margin-bottom: 10px;

}
